/* Header */
.header nav .logo {
    height: 24px;
    width: auto;
}
/* Label */
.required > label:after {
    content:" *";
    color: red;
}
/* Row */
.row.vertical-divider div[class^="col-"] + div[class^="col-"] {     
    border-left: 1px solid #dee2e6;    
}
/* Content */
.content {}
/* Offcanvas */
.offcanvas-body {
    overflow-y: scroll;
}
/* Accordion */
.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #f8f9fa;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}
.accordion-button-disabled {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
.accordion-item:first-of-type .accordion-button-disabled {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.accordion-item:last-of-type .accordion-button-disabled.collapsed {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}
.accordion-button-disabled.show-all {
    color: #0d6efd;
    font-size: small;
}
.accordion-button-disabled.show-all:hover {
    color: #0a58ca;
}

/* thumbnail */
.product-images {
    width: 522px;
    height: 522px;
}
.product-thumbs {
    width: 512px;
    height: 110px;
}
.product-thumbs .swiper-slide {
    opacity: 0.4;
}
.product-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

/* progress bar */
.progress-bar {
    height: 2px;
    width: 0px;
    background-color: green;
}

/* footer */
.footer {
    min-height: 300px;
}
.footer .title {
    font-size: 24px;
    font-weight: bold;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    color: #dddddd;
}

/* Autocomplete */
.ui-autocomplete {
    background-color: #ffffff;
}
.ui-autocomplete a {
    display: block;
    text-decoration: none;
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    border: 1px solid #000000;
    background: #212529 !important;
    color: #f8f9fa !important;
} 

/* Button toggle */
label.btn-outline-primary {
  --bs-btn-color: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #0d6efd;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6efd;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}
